{% extends 'admin/layout.html' %}
{% block body %}
    <h1 id="main-title">{{_gettext('GridFS Files')}}</h1>
    <div class="clearfix"></div>
    <hr />

    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Modified</th>
            </tr>
        </thead>
        {% for name, size, modified in items %}
        <tr>
            <td>
                <a href="{{ url_for('.upload', file_name=name)|safe }}">{{ name }}</a>
            </td>
            <td>{{ size }}</td>
            <td>{{ modified }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
